<footer>
  <a routerLink="/">
    <img
      src="../../../assets/lettering_branco 1.svg"
      alt="Logo Steevanz"
      width="211"
      height="48"
    />
  </a>

  <div class="links-footer">
    <ul class="links">
      <li>
        <a routerLink="/">Who We Are</a>
      </li>
      <li>
        <a routerLink="/">Complaints Book</a>
      </li>
      <li>
        <a routerLink="/">FAQs</a>
      </li>
      <li>
        <a routerLink="/">Terms and Conditions</a>
      </li>
      <li>
        <a routerLink="/">Contacts</a>
      </li>
    </ul>
  </div>

  <div class="social-media">
    <ul>
      <li>
        <a routerLink="/">
          <img src="../../../assets/akar-icons_facebook-fill.svg" alt="" />
        </a>
      </li>
      <li>
        <a routerLink="/">
          <img src="../../../assets/ant-design_instagram-filled.svg" alt="" />
        </a>
      </li>
      <li>
        <a routerLink="/">
          <img
            src="../../../assets/entypo-social_linkedin-with-circle.svg"
            alt=""
          />
        </a>
      </li>
      <li>
        <a routerLink="/">
          <img src="../../../assets/bi_youtube.svg" alt="" />
        </a>
      </li>
      <li>
        <a routerLink="/">
          <img
            src="../../../assets/entypo-social_twitter-with-circle.svg"
            alt=""
          />
        </a>
      </li>
    </ul>
  </div>
</footer>
