footer {
  max-width: 1440px;
  display: grid;
  grid-template-columns: 8fr 6fr 6fr;

  justify-content: space-between;
  align-items: center;
  margin: auto;

  padding: 20px 47px;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: #1a1a1a;
  filter: drop-shadow(0px -4px 10px rgba(0, 0, 0, 0.25));

  .links {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 15px;

    list-style: none;
    font-size: 16px;
    a {
      color: #fff;
      line-height: 18.75px;
    }
  }

  .social-media ul {
    display: flex;
    font-size: 16px;

    list-style: none;

    justify-content: flex-end;
    li {
      margin-left: 22px;
    }
  }
}

@media (max-width: 640px) {
  footer {
    display: flex;
    flex-direction: column;

    .links {
      display: flex;
      flex-direction: column;
      padding: 20px 0;
    }
  }
}
