<nav class="header">
  <a class="brand" routerLink="/">
    <img
      src="../../../assets/lettering_branco 1.svg"
      alt="Logo Steevanz"
      width="155"
      height="35"
    />
  </a>
  <ul class="menu">
    <li>
      <a routerLink="/">
        <img src="../../../assets/Language.svg" alt="Language" />
      </a>
    </li>
    <li>
      <a routerLink="/">
        <img src="../../../assets/Account circle.svg" alt="Account" />
      </a>
    </li>
    <li>
      <a routerLink="/">
        <img
          src="../../../assets/ant-design_shopping-outlined.svg"
          alt="Shopping"
        />
      </a>
    </li>
    <li>
      <a routerLink="/">
        <img src="../../../assets/Menu.svg" alt="Menu" />
      </a>
    </li>
  </ul>
</nav>
