<main>
  <div class="pt-6">
    <app-checkout-bar type="light1"></app-checkout-bar>
    <app-announcement></app-announcement>
  </div>
  <div class="grid">
    <div class="px-4">
      <div class="col-10">
        <a routerLink="/">
          <h2>< Continue Shopping</h2>
        </a>
        <div class="pb-2">
          <app-steps step="1" text="Check your cart"></app-steps>
        </div>
      </div>

      <div class="sm:col md:col lg:col">
        <div class="grid">
          <div class="md:col lg:col">
            <div class="grid">
              <h1>FRONTEND DEVELOPOER</h1>
            </div>
          </div>
          <div class="md:col-4 lg:col-3">
            <app-data-form label="Do you have a cupom?"></app-data-form>
            <div class="py-2">
              <!-- <app-form></app-form> -->
            </div>
          </div>
        </div>
        <p class="pb-5">One position available every month.</p>
      </div>
    </div>
  </div>
  <img
    src="../../../assets/undraw_add_tasks_re_s5yj 1.svg"
    alt="Tasks Image"
    width="292"
    height="160"
  />
  <app-total type="lg" price="50" text="per month."></app-total>

  <footer>
    <app-button title="CLEAN CART" typeBtn="prev" routerLink="/"></app-button>
    <app-button
      title="NEXT"
      typeBtn="next"
      routerLink="/checkout2"
    ></app-button>
  </footer>
</main>
