<app-checkout-bar type="light1"></app-checkout-bar>
<app-announcement></app-announcement>
<main>
  <div class="text1">
    <a routerLink="/">
      <h2>< Continue Shopping</h2>
    </a>
    <div class="group1">
      <div class="round"><p>1</p></div>
      <h3>Check your cart</h3>
    </div>
  </div>

  <div class="text2">
    <div class="group2">
      <h1>FRONTEND DEVELOPOER</h1>
      <div class="trash">
        <img src="../../../assets/Vector.svg" alt="Trash" />
      </div>
      <app-form></app-form>
    </div>
    <p>One position available every month.</p>
  </div>
  <img
    src="../../../assets/undraw_add_tasks_re_s5yj 1.svg"
    alt="Tasks Image"
    width="292"
    height="160"
  />
</main>

<div class="total">
  <h1>Total: 50€</h1>
  <span>per month.</span>
</div>

<footer>
  <app-button title="CLEAN CART" typeBtn="prev"></app-button>
  <app-button title="NEXT" typeBtn="next"></app-button>
</footer>
