* {
  background-color: #fff;
  margin: 0;
  padding: 0;
}
main {
  height: 100vh;
}
@media (max-width: 992px) {
  main {
    height: 130vh;
  }
}
@media (max-width: 800px) {
  main {
    height: 180vh;
  }
}
