<app-header></app-header>
<app-checkout-bar type="light2"></app-checkout-bar>
<app-announcement></app-announcement>
<app-total type="sm" price="50" text="per month"></app-total>

<main>
  <div class="grid">
    <div class="col">
      <div class="pt-2 px-4">
        <app-steps step="2" text="YOUR DATA"></app-steps>
        <div class="pt-4">
          <app-button class="mr-4" typeBtn="next" title="PERSONAL"></app-button>
          <app-button typeBtn="prev" title="COMPANY"></app-button>
        </div>
    </div>
  </div>
  <div class="px-5 pt-6">
    <div class="grid">
        <div class=" md:col-6 lg:col-4">
          <app-data-form label="Firstname(s)*" placeholder="Pedro" type="sm"></app-data-form>
          <app-data-form label="Phone*" placeholder="918 456 176" type="sm"></app-data-form>
          <app-dropdown></app-dropdown>  
        </div>
        <div class=" md:col-6 lg:col-4">
          <app-data-form label="Lastname(s)*" placeholder="Silva" type="sm"></app-data-form>
          <app-data-form label="Email*" placeholder="pedros@gmail.com" type="sm"></app-data-form>
          <app-data-form label="Location*" placeholder="Porto" type="sm"></app-data-form>
        </div>
        <div class=" md:col-6 lg:col-4">
          <app-data-form label="Is this purchase an offer?" placeholder="Add a custom message" type="offer"></app-data-form>
          <div class="grid">
            <div class="mr-7">
              <app-data-form class="md:col-3 lg:col-3" label="From*" placeholder="Sender's name*" type="x-sm"></app-data-form>
            </div>
            <app-data-form class="md:col-3 lg:col-3" label="To*" placeholder="Receiver's name*" type="x-sm"></app-data-form>
          </div>
          <app-text-area></app-text-area>
        </div>
      </div>
    </div>
    <div class="px-4">
      <div class="md:col-3 lg:col-6">
        <app-data-form label="Address*" placeholder="Av. dos Aliados" type="lg"></app-data-form>
        <div class="grid">
          <div class="mr-1">
            <app-data-form class="md:col-6 lg:col-5" label="Postal code*" placeholder="1234 - 456" type="x-sm"></app-data-form>
          </div>
          <app-data-form class="md:col-6 lg:col-5" label="VAT number*" placeholder="122 334 455" type="x-sm"></app-data-form>
        </div>
      </div>
    </div>
  </div>
  <div class="grid">
    <app-check-box class="px-4" label="Add a delivery address different from the billing address"></app-check-box>
  </div>
  <div class="grid">
    <div class="col">
      <div class="pt-4 px-4">
        <div class="grid">
          <app-button class="col" typeBtn="prev" title="PREVIOUS" routerLink="/checkout1"></app-button>
          <app-button  typeBtn="next" title="NEXT" routerLink="/checkout3"></app-button>
        </div>
      </div>
    </div>
  </div>
  
</main>
<app-footer></app-footer>