* {
  color: #fff;
}

main {
  padding-bottom: 13px;
}

h1 {
  font-family: "Cormorant";
  font-size: 96px;
  font-weight: 700;
  padding-bottom: 30px;
}
h3 {
  font-family: "Cormorant";
  font-size: 38px;
  font-weight: 700;
  padding-bottom: 30px;
}
p {
  max-width: 625px;
  font-size: 20px;
  font-weight: 300;
}

@media (max-width: 750px) {
  h1 {
    font-size: 60px;
  }
  h3 {
    font-size: 28px;
  }
  p {
    font-size: 15px;
  }
  #logo {
    padding: 70px 0 58px 0;
  }
}
