<img
  src="../../../assets/lettering_branco 1.svg"
  alt="Logo Steevanz"
  id="logo"
/>
<main>
  <div class="messages">
    <div class="texts">
      <h1>Congratulations!</h1>
      <h3>You will be evaluated in the next few days.</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s.
      </p>
      <app-button typeBtn="home" title="HOME" routerLink="/"></app-button>
    </div>
    <img src="../../../assets/undraw_cellphone.svg" alt="Cellphone" />
  </div>
</main>
