<app-header></app-header>

<main>
  <div class="text">
    <h1>FRONTEND DEVELOPER</h1>
    <h2>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s.
    </h2>
    <div class="footer-main">
      <div class="price">
        <h2>50€<span>per month</span></h2>
      </div>
      <app-button title="SUBSCRIBE" typeBtn="sub" routerLink="/checkout1"></app-button>
    </div>
  </div>
  <img
    src="../../../../assets/undraw_devices_re_dxae 1.svg"
    alt="Figura aleatória"
  />
</main>
<app-footer></app-footer>
