<main>
  <div class="text">
    <h1>FRONTEND DEVELOPER</h1>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s.
    </p>
  </div>
  <div class="footer-main">
    <div class="price">
      <h2>50€</h2>
      <p>per month</p>
    </div>
    <app-button [title]="title"></app-button>
  </div>
  <img
    src="../../../../assets/undraw_devices_re_dxae 1.svg"
    alt="Figura aleatória"
  />
</main>
