<main>
  <div class="pt-6">
    <app-checkout-bar type="light3"></app-checkout-bar>
    <app-announcement></app-announcement>
    <app-total
      type="sm"
      price="31,98"
      text="26,99€ (Product) + 4,99€ (Delivery Fee)"
    ></app-total>
  </div>
  <div class="px-4">
    <div class="grid">
      <app-steps class="col-10" step="3" text="Payment"></app-steps>
      <div class="grid">
        <div class="md:col lg:col-14">
          <div class="grid">
            <img src="../../../assets/Card.svg" alt="Card" />
            <p class="pt-1">Pay securely with your credit card.</p>
          </div>
        </div>
      </div>
      <div class="md:col lg:col-3"></div>
      <div class="md:col lg:col-5">
        <p-dropdown
          [style]="{ minWidth: '100%' }"
          optionLabel="Resume"
          placeholder="Resume"
        ></p-dropdown>
      </div>
    </div>
  </div>
  <div class="px-4">
    <div class="grid">
      <div class="col-11">
        <app-data-form
          type="md"
          label="Credit Card*"
          placeholder="1234 1234 1234 1234"
        ></app-data-form>
      </div>
      <div class="grid">
        <app-data-form
          class="mr-4 pl-2"
          type="x-sm"
          label="Expiration Date*"
          placeholder="05/24"
        ></app-data-form>
        <app-data-form
          type="x-sm"
          label="CVC*"
          placeholder="123"
        ></app-data-form>
      </div>
    </div>
  </div>
  <div class="px-4">
    <app-check-box
      label="Add a delivery address different from the billing address"
    ></app-check-box>
  </div>
  <div class="px-4">
    <footer>
      <app-button
        typeBtn="prev"
        title="PREVIOUS"
        routerLink="/checkout2"
      ></app-button>
      <app-button
        typeBtn="next"
        title="NEXT"
        routerLink="/checkout4"
      ></app-button>
    </footer>
  </div>
</main>
