/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  background-color: #1a1a1a;
}

body {
  max-width: 1440px;
  padding: 0;
  margin: 0 auto !important;
}

a {
  text-decoration: none;
}

.validation-error {
  background-color: #FFF;
  p {
    background-color: transparent;
    color: #dc3545;
  }
}
