form {
  .form-group {
    background-color: #fff;
    label {
      background-color: transparent;
    }

    .form-input {
      display: flex;
      align-items: flex-end;
      background-color: transparent;
      border-bottom: 1px solid #1a1a1a;
      margin-top: 10px;

      input {
        width: 100%;
        background-color: transparent;
        border: none;
        padding: 5px 0;
      }
      img {
        width: 30px;
        height: 30px;
        background-color: transparent;
        align-items: center;
      }
    }
  }
}
